@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* src/styles/index.css */
html, body, #root {
  height: 100dvh; /* 動態視窗高度，自動扣除網址列 */
  margin: 0;
  padding: 0;
  overflow: hidden; /* 徹底禁止全頁滾動 */
  background-color: #000000 !important;
}

#root {
  height: 100%;
}
#root {
  height: 100%;
}
